Lesson2Tasks/Lesson2/bin
Lesson2Tasks/Lesson2/obj
Lesson2Tasks/Task_2/bin
Lesson2Tasks/Task_2/obj
Lesson2Tasks/Task_3/bin
Lesson2Tasks/Task_3/obj
Lesson2Tasks/Task_4/bin
Lesson2Tasks/Task_4/obj
Lesson2Tasks/Task_5/bin
Lesson2Tasks/Task_5/obj
Lesson2Tasks/Task_6/bin
Lesson2Tasks/Task_6/obj
Lesson2Tasks/Task_7/bin
Lesson2Tasks/Task_7/obj
Lesson2Tasks/Task_8/bin
Lesson2Tasks/Task_8/obj
Lesson2Tasks/Task_9/bin
Lesson2Tasks/Task_9/obj
Lesson2Tasks/.vs
Lesson2Tasks/Task_1/bin/Debug
Lesson2Tasks/Task_1/obj
Pr_Lesson_3/.vs
Pr_Lesson_3/Pr_Lesson_3/bin
Pr_Lesson_3/Pr_Lesson_3/obj
Pr_Lesson_3/Task_10/bin
Pr_Lesson_3/Task_10/obj
Pr_Lesson_3/Task_2/bin
Pr_Lesson_3/Task_2/obj
Pr_Lesson_3/Task_3/bin
Pr_Lesson_3/Task_3/obj
Pr_Lesson_3/Task_4/bin
Pr_Lesson_3/Task_4/obj
Pr_Lesson_3/Task_5/bin
Pr_Lesson_3/Task_5/obj
Pr_Lesson_3/Task_6/bin
Pr_Lesson_3/Task_6/obj
Pr_Lesson_3/Task_7/bin
Pr_Lesson_3/Task_7/obj
Pr_Lesson_3/Task_8/bin
Pr_Lesson_3/Task_8/obj
Pr_Lesson_3/Task_9/bin
Pr_Lesson_3/Task_9/obj
Pr_Lesson_4/.vs
Pr_Lesson_4/Task_8/bin
Pr_Lesson_4/Task_7/bin
Pr_Lesson_4/Task_7/obj
Pr_Lesson_4/Task_6/obj
Pr_Lesson_4/Task_6/bin
Pr_Lesson_4/Task_5/obj
Pr_Lesson_4/Task_5/bin
Pr_Lesson_4/Task_8/obj
Pr_Lesson_4/Task_4/obj
Pr_Lesson_4/Task_4/bin
Pr_Lesson_4/Task_3/obj
Pr_Lesson_4/Task_3/bin
Pr_Lesson_4/Task_2/bin
Pr_Lesson_4/Task_2/obj
Pr_Lesson_4/Pr_Lesson_4/obj
Pr_Lesson_4/Pr_Lesson_4/bin
Pr_Lesson_4/Task_10/bin
Pr_Lesson_4/Task_10/obj
Pr_Lesson_4/Task_9/bin
Pr_Lesson_4/Task_9/obj
