Lesson2Tasks/Lesson2/bin
Lesson2Tasks/Lesson2/obj
Lesson2Tasks/Task_2/bin
Lesson2Tasks/Task_2/obj
Lesson2Tasks/Task_3/bin
Lesson2Tasks/Task_3/obj
Lesson2Tasks/Task_4/bin
Lesson2Tasks/Task_4/obj
Lesson2Tasks/Task_5/bin
Lesson2Tasks/Task_5/obj
Lesson2Tasks/Task_6/bin
Lesson2Tasks/Task_6/obj
Lesson2Tasks/Task_7/bin
Lesson2Tasks/Task_7/obj
Lesson2Tasks/Task_8/bin
Lesson2Tasks/Task_8/obj
Lesson2Tasks/Task_9/bin
Lesson2Tasks/Task_9/obj
Lesson2Tasks/.vs
Lesson2Tasks/Task_1/bin/Debug
Lesson2Tasks/Task_1/obj
